* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	height: 500px;
	font-family: cursive;
	font-size: 20px;
	background-color: blue;
	text-align: center;
}

footer {
	height: 50px;
	padding: 10px 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.container {
	margin: 10px auto;
	width: 400px;
	background-color:#DD4C1E;
	text-align: center;
	border: 4px solid black;
	border-radius: 4px;
}


.containerHome {
	margin: 20px auto;
	width: 400px;
	text-align: center;
}

.pokegif {
	  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view {
	width: 120px;
	height: 120px;
	background-color: black;
	border: 2px solid orange;
	border-radius: 4px; 
	margin-top: 10px;
	margin-left: 33%;
	position: relative;
}

#gif {
	margin-top: 18px;
}

#search:hover{
	transform: scale(1.1);
}

#rand:hover{
	transform: scale(1.1);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.menubtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.menuback{
	padding: 9px;
}

.menuback:hover {
	transform: scale(1.2);
}

#tabela {
	margin-left: 18%;
	margin-top: 10px;
	width: 250px;
	border: 1px solid black;
	background-color: gray;
}

.sec {
	border: 2px solid orange;
	margin-top: 10px;font-size: 14px;
	font-family: Arial;
	text-align: center;
	width: 60%;
	padding: 10px 10px;
	background-color: black;
	margin-left: 16%;
	margin-bottom: 12px;
	color: white;
	border-radius: 4px;
}

#sub {
	margin-top: 10px;
}

#search {
	background-color: #4CAF50;
	padding: 5px;
	margin: 15px 5px;
}

#rand {
	background-color: rgb(242, 163, 65);
	padding: 5px;
}

#pkname {
	font-size:22px;
	margin-top: 15px;
	margin-bottom: ;
	border: 2px solid orange;
	background-color: black;
	color:white;
	border-radius:4px;
}

td {
	background-color: black;
	color: white;
}

th {
	font-size: 14px;
}


.bgblack {
	background-color: black;
}

.steel {
	background-color: rgb(175, 175, 189);
	color: white;
}

.fire {
	background-color: rgb(224, 51, 9);
	color: white;
}

.grass {
	background-color: rgb(115, 194, 56);
	color: white;
}

.electric {
	background-color: #ff9900;
	color: white;
}

.water{
	background-color: rgb(49, 145, 238);
	color: white;
}

.ice {
	background-color: rgb(106,212,242);
	color: white;
}

.ghost {
	background-color: rgb(92, 92, 172);
	color: white;
}

.ground {
	background-color: rgb(204, 173, 84);
	color: white;
}

.rock {
	background-color: rgb(174, 152, 80);
	color: white;
}

.fairy {
	background-color: rgb(243, 174, 245);
	color: white;
}

.poison {
	background-color: #660066;
	color:  white;
}

.bug {
	color: white;
	background-color: #89960d;
}

.dragon {
	background-color: #97b3e6;
	color: white;
}

.dark {
	background-color: rgb(62, 45, 35);
	color:  white;
}

.psychic {
	background-color: #e8497f;
	color: white;
}

.flying {
	background-color: rgb(93, 116, 211);
	color: white;
}

.fighting {
	background-color: #80321b;
	color: white;
}

.normal {
	background-color: rgb(195, 192, 182);
	color: white;
}